<div class="container">
  <div class="logo">TrustPay</div>
  <form (ngSubmit)="onSubmit()" autocomplete="on">
    <input
      type="text"
      class="input-box"
      placeholder="E-mail ou número de celular"
      [(ngModel)]="dadosLogin.email"
      name="email"
      autocomplete="username"
    />

    <div class="password-input-group">
      <input
        [type]="mostrarSenha ? 'text' : 'password'"
        class="input-box"
        placeholder="Senha"
        [(ngModel)]="dadosLogin.password"
        name="password"
        autocomplete="current-password"
      />
      <button type="button" class="password-toggle" (click)="togglePasswordVisibility()" [title]="mostrarSenha ? 'Ocultar senha' : 'Mostrar senha'">
        <div [class]="mostrarSenha ? 'eye-off-icon' : 'eye-icon'"></div>
      </button>
    </div>

    <div class="link"><a href="#" (click)="onForgotPassword()">Esqueceu a senha?</a></div>

    <button class="btn-login" type="submit" [disabled]="carregando">
      {{ carregando ? 'Entrando...' : 'Log in' }}
    </button>
  </form>

  <div class="divider">ou</div>

  <button class="btn-create" (click)="onSwitchToRegister()">Criar conta</button>

  <div class="footer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira Brasil" />
    <span class="lang">Português | English</span>
  </div>
</div>
